<p id="notice"><%= notice %></p>

<h1>Listing Member Skills</h1>

<table>
  <thead>
    <tr>
      <th>Skill</th>
      <th>Member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_skills.each do |member_skill| %>
      <tr>
        <td><%= member_skill.skill %></td>
        <td><%= member_skill.member %></td>
        <td><%= link_to 'Show', member_skill %></td>
        <td><%= link_to 'Edit', edit_member_skill_path(member_skill) %></td>
        <td><%= link_to 'Destroy', member_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member skill', new_member_skill_path %>
