<%= form_for(@member_availability) do |f| %>
  <% if @member_availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member_availability.errors.count, "error") %> prohibited this member_availability from being saved:</h2>

      <ul>
      <% @member_availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br>
    <%= f.text_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :availability_id %><br>
    <%= f.text_field :availability_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
