<p id="notice"><%= notice %></p>

<h1>Listing Member Availabilities</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_availabilities.each do |member_availability| %>
      <tr>
        <td><%= member_availability.member %></td>
        <td><%= member_availability.availability %></td>
        <td><%= link_to 'Show', member_availability %></td>
        <td><%= link_to 'Edit', edit_member_availability_path(member_availability) %></td>
        <td><%= link_to 'Destroy', member_availability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member availability', new_member_availability_path %>
