<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @member_availability.member %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @member_availability.availability %>
</p>

<%= link_to 'Edit', edit_member_availability_path(@member_availability) %> |
<%= link_to 'Back', member_availabilities_path %>
